**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/as-with).**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

You'll work with a dataset about taxi trips in the city of Chicago. Run the cell below to fetch the `chicago_taxi_trips` dataset.

In [15]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

### 1) Find the data
Before you can access the data, you need to find the table name with the data.

*Hint*: Tab completion is helpful whenever you can't remember a command. Type `client.` and then hit the tab key. Don't forget the period before hitting tab.

In [10]:
# Your code here to find the table name
tables = client.list_tables(dataset)
for table in tables:
    print(table.table_id)

taxi_trips

In [11]:
# Write the table name as a string below
table_name = 'taxi_trips'

# Check your answer
q_1.check()

Correct

For the solution, uncomment the line below.

In [ ]:
#q_1.solution()

### 2) Peek at the data

Use the next code cell to peek at the top few rows of the data. Inspect the data and see if any issues with data quality are immediately obvious.

In [19]:
# Your code here
table_taxi_trips_ref = dataset_ref.table('taxi_trips')
table_taxi_trips = client.get_table(table_taxi_trips_ref)
table_taxi_trips.schema

[SchemaField('unique_key', 'STRING', 'REQUIRED', 'Unique identifier for the trip.', ()),
 SchemaField('taxi_id', 'STRING', 'REQUIRED', 'A unique identifier for the taxi.', ()),
 SchemaField('trip_start_timestamp', 'TIMESTAMP', 'NULLABLE', 'When the trip started, rounded to the nearest 15 minutes.', ()),
 SchemaField('trip_end_timestamp', 'TIMESTAMP', 'NULLABLE', 'When the trip ended, rounded to the nearest 15 minutes.', ()),
 SchemaField('trip_seconds', 'INTEGER', 'NULLABLE', 'Time of the trip in seconds.', ()),
 SchemaField('trip_miles', 'FLOAT', 'NULLABLE', 'Distance of the trip in miles.', ()),
 SchemaField('pickup_census_tract', 'INTEGER', 'NULLABLE', 'The Census Tract where the trip began. For privacy, this Census Tract is not shown for some trips.', ()),
 SchemaField('dropoff_census_tract', 'INTEGER', 'NULLABLE', 'The Census Tract where the trip ended. For privacy, this Census Tract is not shown for some trips.', ()),
 SchemaField('pickup_community_area', 'INTEGER', 'NULLABLE', 'The Community Area where the trip began.', ()),
 SchemaField('dropoff_community_area', 'INTEGER', 'NULLABLE', 'The Community Area where the trip ended.', ()),
 SchemaField('fare', 'FLOAT', 'NULLABLE', 'The fare for the trip.', ()),
 SchemaField('tips', 'FLOAT', 'NULLABLE', 'The tip for the trip. Cash tips generally will not be recorded.', ()),
 SchemaField('tolls', 'FLOAT', 'NULLABLE', 'The tolls for the trip.', ()),
 SchemaField('extras', 'FLOAT', 'NULLABLE', 'Extra charges for the trip.', ()),
 SchemaField('trip_total', 'FLOAT', 'NULLABLE', 'Total cost of the trip, the total of the fare, tips, tolls, and extras.', ()),
 SchemaField('payment_type', 'STRING', 'NULLABLE', 'Type of payment for the trip.', ()),
 SchemaField('company', 'STRING', 'NULLABLE', 'The taxi company.', ()),
 SchemaField('pickup_latitude', 'FLOAT', 'NULLABLE', 'The latitude of the center of the pickup census tract or the community area if the census tract has been hidden for privacy.', ()),
 SchemaField('pickup_longitude', 'FLOAT', 'NULLABLE', 'The longitude of the center of the pickup census tract or the community area if the census tract has been hidden for privacy.', ()),
 SchemaField('pickup_location', 'STRING', 'NULLABLE', 'The location of the center of the pickup census tract or the community area if the census tract has been hidden for privacy.', ()),
 SchemaField('dropoff_latitude', 'FLOAT', 'NULLABLE', 'The latitude of the center of the dropoff census tract or the community area if the census tract has been hidden for privacy.', ()),
 SchemaField('dropoff_longitude', 'FLOAT', 'NULLABLE', 'The longitude of the center of the dropoff census tract or the community area if the census tract has been hidden for privacy.', ()),
 SchemaField('dropoff_location', 'STRING', 'NULLABLE', 'The location of the center of the dropoff census tract or the community area if the census tract has been hidden for privacy.', ())]

In [21]:
client.list_rows(table_taxi_trips, max_results = 20).to_dataframe()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,0e38121a30ef9d68a76b84e07e4fdfa9c5fc57ea,39073b035fcd0b19079a47a430755e442a83b113104228...,2014-02-12 12:45:00+00:00,2014-02-12 12:45:00+00:00,60,0.0,None,None,None,None,...,0.0,0.0,Cash,Chicago Elite Cab Corp. (Chicago Carriag,None,None,None,None,None,None
1,fb6c76941c4196c7d099f8331af80dcf59ca6c85,5e48748b582fe3c16baf5ac371a27773e8aef2927f3344...,2014-01-23 06:30:00+00:00,2014-01-23 06:30:00+00:00,60,0.0,None,None,None,None,...,0.0,0.0,Cash,Chicago Elite Cab Corp. (Chicago Carriag,None,None,None,None,None,None
2,a183546a6a6ed7ac2c897bac7e49b054f804e5fc,5e48748b582fe3c16baf5ac371a27773e8aef2927f3344...,2014-01-15 05:15:00+00:00,2014-01-15 05:15:00+00:00,0,0.0,None,None,None,None,...,0.0,0.0,Cash,Chicago Elite Cab Corp. (Chicago Carriag,None,None,None,None,None,None
3,bff068a2ffbe81372d944ad900f9c324c0a50869,bcfe2033955fd875c28de81fb341df4eb26fd7b2a4fb5c...,2014-01-11 07:30:00+00:00,2014-01-11 07:30:00+00:00,0,0.0,None,None,None,None,...,0.0,0.0,Cash,Chicago Elite Cab Corp. (Chicago Carriag,None,None,None,None,None,None
4,637db159d16f6033ce6b0e0fbe0b94454466c7c7,d18f43b4f4137a4b6c41359e51682cb421fee4777f7d42...,2018-03-14 15:30:00+00:00,2018-03-14 15:30:00+00:00,24,10.0,None,None,None,None,...,0.0,0.0,Credit Card,303 Taxi,None,None,None,None,None,None
5,959fc09eb79f0212ff7311e6c105062cb0cc407c,d4224d4791b8583f214d965600271fe91962e2a0fe18c1...,2016-10-04 20:30:00+00:00,2016-10-04 20:30:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
6,d4f4082b2e9399c5004fae0c9c82ef3418748ea5,d4224d4791b8583f214d965600271fe91962e2a0fe18c1...,2016-10-04 21:00:00+00:00,2016-10-04 21:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
7,a84b54f0a3f30037ebbd1a22984d21899f9c4a56,d4224d4791b8583f214d965600271fe91962e2a0fe18c1...,2016-10-04 21:00:00+00:00,2016-10-04 21:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
8,4d13f8e2ef8a3c01bb330515f371fea06b703cc6,d4224d4791b8583f214d965600271fe91962e2a0fe18c1...,2016-10-04 21:00:00+00:00,2016-10-04 21:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
9,678c66254332fd2888756fd39fe85ad3ebe1bba4,6e5be94674560a02a724e0075e0cdf52fd22dd401711bf...,2016-10-12 06:00:00+00:00,2016-10-12 06:00:00+00:00,3,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
10,10a564ded16b1a98cd58f09a4311e8afb0bd35e4,06e95e5723605c6969624e7c1493e6ccf7e08a850e805a...,2016-10-06 08:45:00+00:00,2016-10-06 08:45:00+00:00,14,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
11,84aac83c9f25c22c705bdbaf5237d41d7c5a9a8f,06e95e5723605c6969624e7c1493e6ccf7e08a850e805a...,2016-10-06 14:45:00+00:00,2016-10-06 14:45:00+00:00,20,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
12,48c5b37c4b8478163ce6156ab4de7ba28af143c3,f353440b55bd756f6463f42541bdba29fcbe81100b1b04...,2016-10-11 07:00:00+00:00,2016-10-11 07:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
13,d0e30c7dea3e768f14e7b4f582428d03690f573a,f353440b55bd756f6463f42541bdba29fcbe81100b1b04...,2016-10-12 07:00:00+00:00,2016-10-12 07:00:00+00:00,2,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
14,f8987eab41f6eb62a73cff0086ac9e3860d46685,f353440b55bd756f6463f42541bdba29fcbe81100b1b04...,2016-10-12 08:30:00+00:00,2016-10-12 08:30:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
15,dabe32795eced683ca21468ae2b1afcebd545024,f353440b55bd756f6463f42541bdba29fcbe81100b1b04...,2016-10-13 07:00:00+00:00,2016-10-13 07:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
16,80e03341dd4826d2914ffceb587944a72acc983c,9596d1ae8e393208b0278b49596c467e6a601a885c7c3b...,2016-10-11 15:45:00+00:00,2016-10-11 15:45:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
17,6f0732bf35de8d9f8b07c3a80e634bd088099dfc,9596d1ae8e393208b0278b49596c467e6a601a885c7c3b...,2016-10-11 17:00:00+00:00,2016-10-11 17:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
18,3301f98c75e3c97e8da5f5a9572d6d27f7fce1dd,9596d1ae8e393208b0278b49596c467e6a601a885c7c3b...,2016-10-12 08:00:00+00:00,2016-10-12 08:00:00+00:00,1,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None
19,aad2b0769c060674b60d72980eac6ee48f6c5ef2,9596d1ae8e393208b0278b49596c467e6a601a885c7c3b...,2016-10-12 08:15:00+00:00,2016-10-12 08:15:00+00:00,0,0.0,None,None,None,None,...,0.0,2.0,Cash,303 Taxi,None,None,None,None,None,None

After deciding whether you see any important issues, run the code cell below.

In [23]:
# Check your answer (Run this code cell to receive credit!)
# q_2.solution()

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [29]:
# Your code goes here
rides_per_year_query = """
SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year
, COUNT(unique_key) AS num_trips
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
GROUP BY year
ORDER BY num_trips DESC
"""

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query, job_config = safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_year_result)

# Check your answer
q_3.check()

   year  num_trips
0  2014   37395436
1  2015   32385875
2  2016   31759339
3  2013   27217716
4  2017   24988003
5  2018   20732088
6  2019   16477365
7  2020    3419510

Correct

note: I was using trip_end_timestamp as a test and that gives different results. Apparently some trips were right at the transition between years.

For a hint or the solution, uncomment the appropriate line below.

In [28]:
#q_3.hint()
#q_3.solution()

Hint: Start your query with `SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year, COUNT(1) AS num_trips`.

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2017.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [38]:
# Your code goes here
rides_per_month_query = """ SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month
, COUNT(unique_key) AS num_trips
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2017
GROUP BY month
ORDER BY num_trips DESC
"""

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config = safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_month_result)

# Check your answer
q_4.check()

    month  num_trips
0       3    2362105
1       6    2324472
2       5    2323386
3       4    2194702
4      10    2141197
5       8    2079861
6       7    2054299
7       1    1972071
8       9    1950631
9       2    1909802
10     11    1907997
11     12    1767480

Correct

For a hint or the solution, uncomment the appropriate line below.

In [39]:
#q_4.hint()
#q_4.solution()

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [49]:
# Your code goes here
speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT unique_key, trip_seconds, trip_miles,
                   EXTRACT(HOUR from trip_start_timestamp) AS hour_of_day
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2017-01-01'
                       AND trip_start_timestamp < '2017-07-01'
                       AND trip_seconds > 0
                       AND trip_miles > 0
               )
               SELECT hour_of_day, COUNT(hour_of_day) AS num_trips,
                   3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config = safe_config) # Your code here

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe() # Your code here

# View results
print(speeds_result)

# Check your answer
q_5.check()

    hour_of_day  num_trips    avg_mph
0             0     319339  20.230524
1             1     266529  18.937621
2             2     210147  18.777070
3             3     159668  20.158048
4             4     122183  26.736014
5             5     119312  30.769172
6             6     182738  24.588313
7             7     358406  17.735967
8             8     541775  15.079892
9             9     565548  16.543882
10           10     525120  18.539614
11           11     594603  18.928379
12           12     622324  17.838745
13           13     630181  17.671089
14           14     622465  16.974239
15           15     640430  15.688418
16           16     701435  14.283888
17           17     756627  12.462955
18           18     768251  13.646810
19           19     701064  16.642882
20           20     598614  19.536777
21           21     552726  20.433874
22           22     501095  19.531374
23           23     399587  19.877046

Correct

For the solution, uncomment the appropriate line below.

In [46]:
#q_5.solution()

Solution:
```python

speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day,
                          trip_miles,
                          trip_seconds
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2017-01-01' AND
                         trip_start_timestamp < '2017-07-01' AND
                         trip_seconds > 0 AND
                         trip_miles > 0
               )
               SELECT hour_of_day,
                      COUNT(1) AS num_trips,
                      3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query (cancel the query if it would use too much of
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe()

# View results
print(speeds_result)

```

That's a hard query. If you made good progress towards the solution, congratulations!

# Keep going

You can write very complex queries now with a single data source. But nothing expands the horizons of SQL as much as the ability to combine or **JOIN** tables.

**[Click here](https://www.kaggle.com/dansbecker/joining-data)** to start the last lesson in the Intro to SQL micro-course.

---




*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161314) to chat with other Learners.*